*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}



:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body{
    
    background-color: var(--Very-Dark-Blue);
}
.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.content{
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
    
    background: linear-gradient(to top,var(--Medium-Grey),var(--Dark-Blue)0%);
    padding: 1rem;
    border-radius: 15px;
}

.container-img{
    padding: 8px;
    background-color:rgba(90, 86, 86, 0.445);
    
}
img{
    display: inline;
    width: 25px;
}

.title{
   margin: 8px 0;;
}
.nums-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    

}
.boll{
    margin: 3px;
    padding: 8px;
    border-radius: 50%;
    background-color:rgba(90, 86, 86, 0.445);
    transition: 0.5s;
    
}

.boll:hover{
    background-color: hsl(25, 97%, 53%);
}

