
@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: coral url(/img/fundo.png) center center no-repeat;
    background-size: cover;
    z-index: -1;
}

body {
    height: 100vh;
    width: 100vw;
    color: rgb(0, 0, 0);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    margin: 1rem 0px;
}

#title > h1 {
    font-family: 'Satisfy', cursive;
    color: rgb(170, 111, 35);
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    

}

#tarefa{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(170, 111, 35);
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    font-size: 1.4rem;
}

#add{
    height: 2rem;
}
#add-task-container{
    
    display: flex;
    margin: 1rem;
    

}


button[type="submit"]{
   padding: 4px;
   background-color: rgb(170, 111, 35);
   border: 1px solid rgba(87, 62, 31, 0.664);
   border-bottom-right-radius: 6px;
   border-top-right-radius: 6px;
   font-size: 1.1rem;
    margin-left: -9px;
   
}

input[type="text"]{
    background-color: transparent;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    padding: 3px;
    margin: 2px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

button[type="submit"]:hover,
#edit-btn-confirm:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(197, 133, 48);
    transition: 0.5s;
    
   
}

#task-header{
    display: flex;
    margin: -10px;
   
}



.done{
    background-color: rgba(172, 255, 47, 0.651);
    transition: 0.5s;
}


#task-title-container{
    margin: -2.5px;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    
    
    
}



#task-container{
    list-style: none;
    
    
}

#task{
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 0.3rem; 
    
    
}

#task-dinamic-title{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 17rem;
    margin: 5px;
    color: aliceblue;
    
}

#task{
    
}







.edit-container{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgba(230, 230, 230, 0.699);
    transition: 1s;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.705);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.hide-edit,.hide{
    display: none;
}

    
#edit-btn-confirm-container{
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
}

#edit-btn-confirm{
    background-color: rgb(170, 111, 35);
    border: 1px solid rgba(87, 62, 31, 0.664);
    padding: 3px;
    margin: 2px;
    font-size: 0.9rem;
    border-radius: 10px;
}





.icon{
    
}
.icon:hover{
    padding: -1rem;
    cursor: pointer;
    transition: 0.5s;
}
.done-btn:hover{
    color: rgba(172, 255, 47, 0.788);
}

.edit-btn:hover{
    color: rgb(229, 238, 104);
}

.delete-btn:hover{
    color: red;
    box-shadow: 1px 
}

#icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.32rem;
    padding: -1rem;
    background-color: rgb(170, 111, 35);
    border-radius: 10px;
    height: 2rem;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 0px black;
    
}


#colors-edit-container{
    display: flex;
    flex-direction: row;
   
}

input[type="color"]{
    width: 2rem;
}